
#sectionOne{
    width : 100%;
    padding-bottom: 250px;
    text-align: center;
}
#sectionTwo{
    padding-top: 70px;
    width : 100%;
    padding-bottom: 250px;
    text-align: center
}
#sectionThree{
    padding-top: 70px;
    width : 100%;
    padding-bottom: 250px;
    text-align: center
}
#sectionFour{
    padding-top: 70px;
    width : 100%;
    padding-bottom: 250px;
    text-align: center
}
#sectionFive{
    padding-top: 70px;
    width : 100%;
    padding-bottom: 250px;
    text-align: center
}

