#sectionOne{
    padding-bottom: 250px;
    width : 70%;
    margin-right : 15%;
    margin-left : 15%;
    text-align: center;
}
#sectionTwo{
    padding-top: 70px;
    width : 70%;
    margin-right : 15%;
    margin-left : 15%;
    padding-bottom: 250px;
    text-align: center
}
#sectionThree{
    padding-top: 70px;
    width : 70%;
    margin-right : 15%;
    margin-left : 15%;
    padding-bottom: 250px;
    text-align: center
}
#sectionFour{
    padding-top: 70px;
    width : 70%;
    margin-right : 15%;
    margin-left : 15%;
    padding-bottom: 250px;
    text-align: center
}
#sectionFive{
    padding-top: 70px;
    width : 70%;
    margin-right : 15%;
    margin-left : 15%;
    padding-bottom: 250px;
    text-align: center
}

